:root {
    --colorFondo: rgb(255, 255, 255);
    /* Fondo blanco */
    --colorPrimario: rgb(201, 188, 250);
    /* Azul acero */
    --colorSecundario: rgb(175, 132, 179);
    /* Azul Alice */
    --colorDetalles: rgb(34, 140, 194);
    /* Naranja */
    --colorTexto: rgb(34, 34, 34);
    /* Negro suave */
    --colorOpuestoTexto: rgb(221, 221, 221);
    /* opuesto del texto */
    --colorTransparente: rgba(255, 255, 255, 0.651);
}

.temaSecundario {
    --colorFondo: rgb(30, 30, 36);
    /* Fondo oscuro */
    --colorPrimario: rgb(2, 128, 144);
    /* Azul oscuro */
    --colorSecundario: rgb(77, 77, 75);
    /* Color neutro */
    --colorDetalles: rgb(221, 96, 49);
    /* Naranja */
    --colorTexto: rgb(255, 255, 255);
    /* Blanco */
    --colorOpuestoTexto: rgb(34, 34, 34);
    /* opuesto del texto */
    --colorTransparente: rgba(0, 0, 0, 0.651);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: var(--colorFondo);
}

img {
    width: 100%;
}

a {
    color: var(--colorTexto);
}

i {
    color: var(--colorTexto);
    font-size: 1.3rem;
}

header {
    padding: 1rem;
    position: fixed;
    bottom: 10px;
    left: 50%;
    z-index: 150;
    background-color: rgba(150, 150, 150, 0.445);
    backdrop-filter: blur(5px);
    width: 80%;
    transform: translate(-50%);
    border-radius: 0.5rem;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    color: var(--colorTexto);
    font-weight: 500;
    font-size: 0.9rem;
    position: relative;
}

.menuItem.activo::before {
    content: "";
    width: 5px;
    height: 5px;
    background-color: var(--colorOpuestoTexto);
    position: absolute;
    bottom: -5px;
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%);
    filter: drop-shadow(1px 1px 5px var(--colorTexto));
}

.menuItem.activo {
    color: var(--colorOpuestoTexto);
    font-weight: bold;
}

/* Inicio */
.seccionDecoracion {
    overflow: hidden;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.seccionDecoracion h1 {
    position: absolute;
    top: 20px;
    font-size: 2.5rem;
    font-family: "Fabulous";
}

.seccionDecoracion>img {
    position: absolute;
    width: 50vw;
    border-radius: 50%;
    z-index: 2;
}

.seccionDecoracion::before {
    content: "";
    width: 100vw;
    height: 170px;
    background-color: var(--colorPrimario);
    position: absolute;
    top: 50%;
    left: 0;
    opacity: 0.7;
    backdrop-filter: blur(15px);
    z-index: 1;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
    transform: rotate(-22.5deg);
    gap: 1rem;
}

.container img {
    opacity: 0.7;
    align-self: center;
}

/* sobre mi */
.seccionSobreMi {
    padding: 1rem;
    text-align: justify;
    color: var(--colorTexto);
    background-color: var(--colorPrimario);
    position: relative;
    margin-bottom: 10rem;
}

.seccionSobreMi::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: -50px;
    left: 0;
    border-bottom: 50px solid var(--colorPrimario);
    border-left: 0px solid transparent;
    border-right: 100vw solid transparent;
}

.seccionSobreMi h3 {
    padding: 1rem 0;
    color: var(--colorSecundario);
    text-align: center;
    margin: 1rem 0;
}

.seccionSobreMi span {
    font-weight: 600;
    color: var(--colorDetalles);
    font-style: italic;
}

.seccionTriangulo1 {
    width: 0;
    height: 0;
    border-top: 50px solid var(--colorPrimario);
    border-left: 0px solid transparent;
    border-right: 90vw solid transparent;
    position: absolute;
    left: 0;
    bottom: -50px;
    z-index: 1;
}

.seccionTriangulo2 {
    width: 0;
    height: 0;
    border-top: 120px solid var(--colorPrimario);
    border-left: 90vw solid transparent;
    border-right: 0px solid transparent;
    position: absolute;
    right: 0;
    bottom: -120px;
    z-index: 1;
}

/* Proyectos */
.proyecto:nth-of-type(1) .contenido {
    background-image: url("../images/proyectos/meetMobile.png");
}

.proyecto:nth-of-type(2) .contenido {
    background-image: url("../images/proyectos/splitterMobile.png");
}

.proyecto:nth-of-type(3) .contenido {
    background-image: url("../images/proyectos/timeMobile.png");
}

.proyecto:nth-of-type(4) .contenido {
    background-image: url("../images/proyectos/splitterMobile.png");
}

.contenedorProyectos .proyecto .contenido {
    background-size: cover;
    background-repeat: no-repeat;
}

.proyecto {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: sticky;
}

.proyecto:nth-of-type(1) {
    top: 0px;
}

.proyecto:nth-of-type(2) {
    top: 25px;
}

.proyecto:nth-of-type(3) {
    top: 50px;
}

.proyecto:nth-of-type(4) {
    top: 75px;
}

.contenido {
    height: 80vh;
    width: 90vw;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.384);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.proyectoInfo {
    color: var(--colorTexto);
    background: var(--colorTransparente);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.144);
    backdrop-filter: blur(6.8px);
    -webkit-backdrop-filter: blur(6.8px);
    border: 1px solid rgba(255, 255, 255, 0.21);
    padding: 0.5rem 0.8rem;
}

.proyectoInfo h2 {
    text-transform: uppercase;
    font-size: 1.3rem;
    text-align: center;
    margin: 0.5rem 0;
}

.proyectoInfo p {
    text-align: justify;
    font-size: 0.9rem;
    line-height: 1.1;
    margin-bottom: 1rem;
    font-weight: 500;
}
.proyectoBtn {
    display: flex;
    gap: .7rem;
    padding: 2rem 0;
}
/* contacto */
.seccionContacto {
    padding: 1rem;
}
form {
    background-color: #e4e4e4;
    border-radius: 12px ;
    padding: 1rem;
    margin-bottom: 2.5rem;
}
form h3 {
    font-size: 1.5rem;
    margin: 1rem 0;
}
.contactoBotones {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.campo {
    margin: 2.5rem 0;
    position: relative;
}
.campo label {
    position: absolute;
    top: -20px;
    font-size: 0.8rem;
    left: 0;
}
.campo input, .campo textarea {
    width: 100%;
    padding: .6rem .3rem;
    border-radius: 8px;
    border: 1px solid rgb(185, 185, 185);
}
.seccionContacto button.boton {
    margin: auto;
}
/* Botones */
.boton {
    position: relative;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    background-color: var(--colorDetalles);
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 15px var(--colorTransparente);
}

.boton,
.iconoBoton,
.textoBoton {
    transition: all 0.3s;
}

.boton .textoBoton {
    transform: translateX(22px);
    color: #fff;
    font-weight: 600;
    font-size: .9rem;
}

.boton .iconoBoton {
    position: absolute;
    transform: translateX(111px);
    height: 100%;
    width: 39px;
    background-color: var(--colorSecundario);
    display: flex;
    align-items: center;
    justify-content: center;
}

.boton i {
    width: 20px;
    color: #fff;
}

.boton:hover {
    background: var(--colorPrimario);
}

.boton:hover .textoBoton {
    color: transparent;
}

.boton:hover .iconoBoton {
    width: 150px;
    transform: translateX(0);
}

.boton:active .iconoBoton {
    background-color: var(--colorDetalles);
}

.boton:active {
    border:none;
}