@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --colorFondo: rgb(255, 255, 255); /* Fondo blanco */ 
    --colorPrimario: rgb(250, 218, 188); /* Azul acero */ 
    --colorSecundario: rgb(175, 132, 179); /* Azul Alice */ 
    --colorDetalles: rgb(34, 140, 194); /* Naranja */ 
    --colorTexto: rgb(34, 34, 34); /* Negro suave */
}
.temaSecundario {
    --colorFondo: rgb(30, 30, 36); /* Fondo oscuro */ 
    --colorPrimario: rgb(2, 128, 144); /* Azul oscuro */ 
    --colorSecundario: rgb(77, 77, 75); /* Color neutro */ 
    --colorDetalles: rgb(221, 96, 49); /* Naranja */ 
    --colorTexto: rgb(255, 255, 255); /* Blanco */
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: var(--colorFondo);
    font-family: "Playfair Display", serif;
}
header {
    padding: 1rem;
    position: fixed;
    top: 0;
    z-index: 150;
    background-color: var(--colorFondo);
    width: 100%;
}
.menu {
    background-color: var(--colorSecundario);
    width: 100vw;
    height: 50vh;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    transform: translate(-100%);
    transform-origin:left;
    transition: all 0.4s;
    z-index: 100;
}
.menu ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}
.menu li{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.menu a {
    color: var(--colorTexto);
    font-weight: 600;
    font-size: 1.2rem;
}
i {
    color: var(--colorTexto);
    font-size: 1.3rem;
}
.mostrar {
    transform: translate(0);
}
img {
    width: 100%;
}
/* Inicio */
.seccionInicio {
    background-color: rgba(253, 253, 253, 0.472);
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-family: 'Lato',serif;
    color: var(--colorTexto);
    position: relative;
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.571);
    border-radius: 15px;
    margin: 5rem 0;
}
.seccionInicio h1 {
    align-self: flex-start;
    font-size: 1.2rem;
}
.seccionInicio h2 {
    align-self: flex-end;
}
.seccionInicio::after{
    content: '';
    width: 300px;
    height: 15px;
    background-color: var(--colorDetalles);
    position: absolute;
    top: 0;
    left: 15px;
    box-shadow: 1px 5px 1px var(--colorTexto);
    transform: skew(30deg);
}
.seccionInicio::before{
    content: '';
    width: 300px;
    height: 15px;
    background-color: var(--colorDetalles);
    position: absolute;
    bottom: 0;
    right: 15px;
    transform: skew(30deg);
    box-shadow: -1px -5px 1px var(--colorTexto);
}
.seccionInicio img {
    width: 200px;
    border-radius: 50%;
}
.seccionDecoracion {
    background-image: url('../images/code.jpg');
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 1rem;
}
.seccionDecoracion i{
    font-size: 5rem;
    color: var(--colorTexto);
}
/* sobre mi */
.seccionSobreMi {
    padding: 1rem;
    text-align: justify;
    color: var(--colorTexto);
    background-color: var(--colorPrimario);
    position: relative;
}
.seccionSobreMi::after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: -50px;
    left: 0;
    border-bottom: 50px solid var(--colorPrimario);
    border-left: 0px solid transparent;
    border-right: 100vw solid transparent;
}
.seccionSobreMi h3 {
    padding: 1rem 0;
    color: var(--colorSecundario);
    text-align: center;
    margin: 1rem 0;
}
.seccionSobreMi span{
    font-weight:600;
    color: var(--colorDetalles);
    font-style: italic;
}
.seccionTriangulo1 {
    width: 0;
    height: 0;
    border-top: 50px solid var(--colorPrimario);
    border-left: 0px solid transparent;
    border-right: 100vw solid transparent;
    position: absolute;
    left: 0;
    bottom: -50px;
    z-index: 1;
}
.seccionTriangulo2 {
    width: 0;
    height: 0;
    border-top: 120px solid var(--colorPrimario);
    border-left: 100vw solid transparent;
    border-right: 0px solid transparent;
    position: absolute;
    left: 0;
    bottom: -120px;
    z-index: 1;
}
/* Proyectos */
.seccionProyectos {
    position: relative;
    height: 100vh;
    z-index: 0;
}
.seccionProyectos .fondoProyectos .fondo{
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}
.seccionProyectos .fondoProyectos .fondo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.seccionProyectos .fondoProyectos .fondo::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom, var(--colorFondo) 30%,transparent);
}
.seccionProyectos .fondoProyectos .fondo .contenido {
    position: absolute;
    left: 10%;
    top: 20%;
    width: 500px;
    max-width: 80%;
    z-index: 1;
    color: var(--colorTexto);
}
.seccionProyectos .fondoProyectos .fondo .contenido p:nth-child(1){
    text-transform: uppercase;
    letter-spacing: 5px;
}
.seccionProyectos .fondoProyectos .fondo .contenido h2{
    margin: 1rem 0;
    font-size: 50px;
}
.seccionProyectos .fondoProyectos .fondo.activo{
    opacity: 1;
    z-index: 10;
}
@keyframes mostrarContenido {
    to {
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}

.seccionProyectos .fondoProyectos .fondo.activo p:nth-child(1),
.seccionProyectos .fondoProyectos .fondo.activo p:nth-child(3),
.seccionProyectos .fondoProyectos .fondo.activo h2{
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: mostrarContenido .5s .4s ease-in-out 1 forwards;
}
.seccionProyectos .fondoProyectos .fondo.activo h2{
    animation-delay: 1s;
}
.seccionProyectos .fondoProyectos .fondo.activo p:nth-child(3){
    animation-delay: 1.3s;
}
.flechas {
    margin-top: 2.5rem;
    position: absolute;
    top: 10%;
    left: 30px;
    z-index: 100;
}
.flechas button{
    background-color: rgba(85, 79, 79, 0.356);
    border: none;
    font-family: monospace;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: x-large;
    color: var(--colorTexto);
    transition: .5s;
}
.flechas button:hover {
    background-color: #eee;
    color: black;
}
.miniaturas {
    position: absolute;
    bottom: 50px;
    z-index: 11;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 250px;
    padding: 0 50px;
    overflow: auto;
    justify-content: start;
}
.miniaturas::-webkit-scrollbar {
    width: 0;
}
.miniaturas .item {
    width: 150px;
    height: 220px;
    filter: brightness(.5);
    transition: 0.5s;
    flex-shrink: 0;
    box-shadow: 0px 0px 10px var(--colorTexto);
    border-radius: 10px;
    margin: 10px 0;
}
.miniaturas .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.miniaturas .item.activo {
    filter: brightness(1.1);
}
.miniaturas .item .contenido {
    position: absolute;
    padding: 0.3rem;
    font-weight: 700;
    border-radius: 10px;
    background-color: aliceblue;
    inset: auto 10px 10px 10px;
    text-align:center;
}